@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: rgb(129, 122, 122);
  line-height: 1.5;
}
.dl-blurbs {
  display: grid;
}

/* LIST */
dl {
  counter-reset: count;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}
@media (min-width: 768px) {
  dl {
    padding-left: 2vw;
  }
}
@media (min-width: 1024px) {
  dl {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

dt {
  color: #4f6d7a ff;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
}

dd {
  margin-left: 5vw;
  margin-bottom: 0.5vh;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 3vw;
  cursor: pointer;
}

.tabs li:hover {
  text-decoration: underline;
}

.title {
  color: #7a4f4f;
  font: 700 18px/22px "Sarala", sans-serif;
}

.miribilla_color {
  color: rgb(198, 21, 21);
}

.visible {
	display: block;
}

.no_visible {
	display: none;
}

.number_of_activities {
  font-size: 2vw;
  font: 400 16px/24px "Open Sans", sans-serif;
}

.fecha {
  color: #999999;
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.descripcion {
  color: #999999;
  font: 400 13px/16px "Open Sans", sans-serif;
}

[class^="ti-"] {
  padding-right: 8px;
}

a {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
}

.links {
  margin-bottom: 30px;
}
dt {
    /* background: #fafbff; */
    padding: 24px;
    border: 0;
    position: relative;
    /* border-top: 1px solid #eee; */
    background-color: #cf2e2e;
    border-radius: 10px 10px 0 0;
    color: white;
    font: 400 28px/32px "Abril Fatface", cursive;
    margin-bottom: 15px;
}
